#imagesContainer {
  position: relative;
}

#banner {
  width: 100%;
  max-height: 60px;
  object-fit: cover;
}

#avatarPic {
  max-width: 70px;
  min-width: 70px;
  border-radius: 100%;
  border: 3px solid white;
  position: absolute;
  top: 30px;
  left: 30px;
}

#plusIcon {
  font-size: 24px;
}

#newExperienceButton {
  border: 2px solid #9eb5ca;
  border-style: dotted;
  border-radius: 4px;
}
